html
  body
    ion-view(title='Dashboard')
      ion-content.padding
        h1 Dashboard
        .list
          a.item.item-avatar(href='#', ng-show='rootuser')
            img(ng-src='{{rootuser.avatar}}')
            h3 {{rootuser.username}}
            p Notes: {{count}}
        button.button.button-full.button-assertive(ng-click='logout()') Logout


