html
  body
    ion-view(title='Account')
      ion-content.padding
        h1 Login
        .list.list-inset
          label.item.item-input
            input(type='text', placeholder='Username', ng-model = 'user.username')
          label.item.item-input
            input(type='password', placeholder='Password', ng-model ='user.password')

        button.button.button-full.button-positive(ng-click='login(user)') Submit



